{% extends 'registros/base/base_registro.html' %}
{% load staticfiles %}
{% block title %}
    <title>Modificar Cuenta</title>
{% endblock %}
{% block header2 %}
    <header class="masthead text-center">
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i>Modificar Contrase&nacute;a</i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container d-flex align-items-center flex-column">
            <form method="post">
                {% csrf_token %}
                {{ mod.old_password }}
                <br>
                {{ mod.new_password1 }}
                <br>
                {{ mod.new_password2 }}
                <br>
                <input class="btn btn-outline-dark" type="submit" value="Modificar">
            </form>
        </div>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="divider-custom-line"></div>
    </header>
    <script>
        {% if user.boolean is False %}
            Swal.fire({
                title: 'Por cuestiones de seguridad debe cambiar su contrasenna en el primer inicio de session.',
                width: 600,
                padding: '3em',
                background: '#fff url()',
                backdrop: `
        rgba(0,0,0,1)`
            })
        {% endif %}
    </script>
    <script>
        {% if mod.errors %}
            Swal.fire({
                type: 'error',
                title: 'Error Cambiando Contrasenna',
                text: 'La contrasenna debe de tener Mayusculas, signos especiales(*.+-), no debe de contener parte del nombre de usuario y debe de contener digitos',
                footer: '<a href="#">Contacte Con el admin</a>'
            })
        {% endif %}
    </script>
{% endblock %}